@import 'includes/vars';
@import 'includes/resetter';
@import 'includes/helpers';
@import 'includes/placeholders';
@import 'includes/third-party';

// COMMON
@import 'includes/common';

* {scrollbar-width: thin; scrollbar-color: #CCC #EFF6FF;}

.tr-1 {transition: all 0.25s ease-out;}
.tr-2 {transition: all 0.5s ease-out;}
.tr-3 {transition: all 1s ease-out;}
.tr-4 {transition: all 2s ease-out;}
.tr-5 {transition: all 5s ease-out;}

.block-page-loading-bar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #FCD34D;
  box-shadow: 0 0 10px #FCD34D;
  height: 3px;
  width: 0;
  transition: width .3s linear;
  opacity: 1;
  z-index: 1000;

  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 10px;
    background: #FCD34D;
  }

  &.start, &.complete {
    opacity: 0;
  }

  &.complete {
    transition: opacity 1s linear, width .3s linear;
  }

  &.start {
    transition: 0s;
  }
}


input:focus, textarea:focus {outline: none !important;}


.text-grey {color: #DEDEDE !important;}

.font-half {line-height: 14px; font-size: 50%;}
.font-half-lg {line-height: 12px; font-size: 60%;}

.note-item {}
.note-item .item-actions {visibility: hidden; opacity: 0}
.note-item:hover .item-actions {visibility: visible; opacity: 1}

.note-text {}
#NotesItem .note-text h1 {font-size: xx-large; font-weight: bold;}
#NotesItem .note-text img {width: 100%; margin: 1rem 0;}

