.printable.printable-note.bg-white
    .printable-main-info
        .printable-header.flex.space-x-4.justify-between.text-xl.px-0.py-2.text-gray-500
            .flex.space-x-4.justify-between
                i.mdi.mdi-note-outline.text-5xl.text-yellow-300
                .text-2xl.font-semibold.my-2 NOTEPAD STAN
            .flex.space-x-4.justify-between.my-2
                span.font-semibold {{ $ctrl.note.user.name }}
                span.float-end.text-secondary.text-right.text-xl.font-half created: {{ $ctrl.note._created_at }} <br> updated: {{ $ctrl.note._updated_at }}

        .printable-header.text-xl.px-0.text-gray-500.py-4
            h2.text-2xl.font-semibold.my-2 {{ $ctrl.note.title }}

        #NotesItem.text-gray-700
            .mb-10.py-6.note-item
                .note-text.text-left.prose.max-w-full(ng-bind-html="$ctrl.note.text_md")

                .note-attachmnets.text-center.text-gray-500(ng-if="$ctrl.note.has_attachments")
                    hr.my-5
                    h5.font-semibold.mb-4 Attachments

                    #NoteItemAttachments.grid.grid-cols-2.text-gray-500
                        .text-center(ng-repeat="file in $ctrl.note.attachments" data-fancybox="gallery" data-type="iframe")
                            span(ng-if="file.type == 'image'") {{ file.original }}
                                br
                                img.w-full(ng-src="{{ $ctrl.backend_url }}/storage/{{ file.path }}")
                            span(ng-if="file.type == 'text'") {{ file.original }}
                                br
                                i.mdi.mdi-file-document-outline.text-8xl.mt-16

            .note-users.text-center.text-gray-500(ng-if="$ctrl.note.has_sharing")
                h5.font-semibold.mb-4 Shared with

                #NoteItemUsers.grid.grid-cols-5.text-gray-500
                    .text-center(ng-repeat="share in $ctrl.note.sharing") {{ share.user.name }}
