.printable.printable-note.bg-white
    .container.max-w-screen-xl.mx-auto.text-gray-500
        .flex.justify-between.text-xl.px-0.my-8
            h2.font-semibold.text-2xl.leading-10 {{ $ctrl.note.title }}

            .flex.space-x-4.justify-between.py-2.text-gray-500
                span {{ $ctrl.note.user.name }}
                span.float-end.ms-3.text-secondary.text-right.text-xl.font-half {{ $ctrl.note.created_at_time_ago }}<br>{{ $ctrl.note.updated_at_time_ago }}

        #NotesItem.text-gray-700
            .mb-10.p-6.note-item
                .note-text(ng-bind-html="$ctrl.note.text_md")

                .note-attachmnets.text-gray-500(ng-if="$ctrl.note.has_attachments")
                    hr.my-5
                    h5.font-semibold.mb-4 Attachments

                    #NoteItemAttachments.flex.space-x-4
                        div(
                            data-fancybox="gallery" data-type="iframe"
                            ng-repeat="file in $ctrl.note.attachments"
                        ) {{ file.original }}
                            br
                            div(ng-if="file.type == 'image'")
                                img.w-full(src="{{ $ctrl.backend_url + '/storage/' + file.path }}")
                            //div(ng-if="file.type == 'text'")
                            //    img.w-full(src="{{ $ctrl.backend_url + '/storage/' + file.path }}")

            .note-shares.text-gray-500(ng-if="$ctrl.note.has_sharing")
                h5.font-semibold.mb-4 Shared with

                #NoteItemUsers.flex.space-x-4.text-gray-500.text-xs
                    span.px-4.py-2.no-underline.font-medium(
                        ng-repeat="share in $ctrl.note.sharing"
                    ) {{ share.user.name }}
