include mixins

doctype
html(lang="en" ng-app="notesApp")
    include includes/head
    body.bg-blue-50(ng-controller="BaseController" modal-scroll-breaker)
        include includes/header

        main.container.xl.mx-auto
            ui-view
                block content

        include includes/footer
        include includes/scripts