.container.max-w-screen-xl.mx-auto.text-gray-500
    .flex.justify-between.text-xl.px-0.py-8
        .flex.space-x-4.justify-between.py-2
            h2.font-semibold.text-2xl.leading-10.text-gray-500 Home
